//Root Typography
$text-color: #6a6a6a;

$link-color: #352f27;
$link-hover-color: #5b8c51;

$headings-color: #0f0f0f;

:root {
  --tm-container-pt: 120px;
  --tm-container-pb: 120px;
  --body-font-family: "DM Sans", sans-serif;
  --heading-font-family: "Manrope", sans-serif;

  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-font-bold: bold;

  --text-color: #{$text-color};
  --link-color: #{$link-color};
  --link-hover-color: #{$link-hover-color};

  --entry-meta-color: #819291;

  --headings-color: #{$headings-color};

  --h1-font-size: 3.8rem;
  --h1-font-size-mob: 3.2rem;
  --h2-font-size: 2.75rem;
  --h2-font-size-mob: 2.5rem;
  --h3-font-size: 1.8rem;
  --h4-font-size: 1.4rem;
  --h5-font-size: 1.1rem;
  --h6-font-size: 0.875rem;

  --headings-font-weight-h1: 800;
  --headings-font-weight-h2: 800;
  --headings-font-weight-h3: 800;
  --headings-font-weight-h4: 800;
  --headings-font-weight-h5: 800;
  --headings-font-weight-h6: 800;
  --section-title-color: var(--headings-color);
  --section-title-line-height: 1.3;
  --section-title-font-size: var(--h2-font-size);
  --section-title-font-family: var(--heading-font-family);
  --section-title-font-weight: var(--headings-font-weight-h2);

  --section-title-subtitle-color: #6a6a6a;
  --section-title-subtitle-font-size: 18px;
  --section-title-subtitle-font-family: var(--body-font-family);
  --section-title-subtitle-font-weight: 700;

  --line-height-widget-li: 2.5rem;
  --btn-font-size: 16px;

  //news details page
  --theme-light-background: #f4f5f8;
  --theme-light-background-text-color: var(--headings-color);
  --news-widget-archive-icon-color: var(--theme-color1);

  //mobile responsive nav styling
  --mobile-menu-item-link-text-color: #111;
  --mobile-menu-item-link-bg-color: #fff;
  --mobile-menu-item-link-bg-border-color: #f1f1f1;
  --mobile-menu-item-link-text-color-hover: #111;
  --mobile-menu-item-indicator-bg-color: var(--theme-color2);
  --mobile-menu-item-indicator-text-color: var(--text-color-bg-theme-color2);

  //menu-unit-test.scss
  --menuzord-primary-nav-font-size: 14px;
  --menuzord-primary-nav-font-weight: 500;
  --menuzord-primary-nav-font-transform: uppercase;
  //logo width
  --menuzord-brand-width: 155px;
  --menuzord-brand-width-responsive: 100px;
}
