/*
 * owl-carousel.scss
 * -----------------------------------------------
*/

.owl-carousel {
  .tm-carousel-item {
    transition: .8s;
    -webkit-transition: .8s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
    &.__loading {
      opacity: 0;
      transform: translateX(40px);
      -webkit-transform: translateX(40px);
    }
  }
  .owl-item img {
    display: inline-block;
    width: auto;
  }
  /* owl dots */
  .owl-dots {
    position: absolute;
    .owl-dot {
      display: inline-block;
      zoom: 1;
      span {
        background: #D6D6D6;
        display: block;
        height: 10px;
        margin: 5px 3px;
        opacity: 0.8;
        width: 10px;
        border-radius: 3px;
        @include transition( all .4s ease 0s);
      }
      &.active,
      &:hover {
        span {
          background: #869791;
        }
      }
    }
  }
  .owl-nav {
    position: absolute;
    button {
      border-radius: 0;
      display: inline-block;
      margin: 0;
      opacity: 0.3;
      z-index: 6;
      
      @include transition(all 0.4s ease 0s);

      i {
        vertical-align: middle;
      }
      &.owl-prev, &.owl-next {
        background: #fff;
        border-radius: 50%;
        color: var(--theme-color1);
        padding: 10px;
        width: 50px;
        height: 50px;
        opacity: 1;
        display:inline-flex;
        justify-content:center;
        align-items:center;
        @include box-shadow( 0px 0px 50px rgba(5, 5, 5, 0.08) );
        &:hover {
          background: var(--theme-color1);
          color: var(--text-color-bg-theme-color1);
        }
      }
      &.owl-prev {
        //left: -10px;
        margin-right: 15px
      }

      &.owl-next {
        left: 80px;
      }
    }

  }
  &:hover {
    .owl-nav {
      > button {
        &.owl-prev {
          //left: 20px;
        }

        &.owl-next {
          //right: 20px;
        }
      }
    }
  }
  &[data-focused-center-image="true"] {
    .owl-item {
      opacity: 0.3;
      @include transition(all 0.4s ease);
      &.active {
        opacity: 0.6;
        &.center {
          opacity: 1;
        }
      }
    }
  }
  &[data-zoomin-center-image="true"] {
    .owl-item {
      @include scale(0.9);
      @include transition(all 0.4s ease);
      &.active {
        &.center {
          @include scale(1);
        }
      }
    }
  }
}

.owl-nav-outer {
  .owl-nav {
    button {
      &.owl-prev, &.owl-next {
        background: rgba(240, 240, 240, 0.8);
        padding: 10px 15px;
      }
      &.owl-prev {
        left: -70px;
      }

      &.owl-next {
        right: -70px;
      }
      @include media-breakpoint-down(xl) {
        &.owl-prev {
          left: -25px;
        }

        &.owl-next {
          right: -25px;
        }
      }
    }

  }
}



//scroll in mobile device
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y !important;
  touch-action: pan-y !important;
}

.owl-carousel {
  display: block;
}
.owl-carousel img {
  width: 100%;
}
.owl-carousel {
  > .slide-owl-wrap {
    float: left;
    padding-right: 25px;
  }
  &.tm-owl-carousel-1col {
    .slide-owl-wrap:not(:first-child) {
      display: none;
    }
  }
  &.tm-owl-carousel-2col {
    .slide-owl-wrap:nth-child(n+3) {
      display: none;
    }
    > .slide-owl-wrap {
      width: 50%;
    }
  }
  &.tm-owl-carousel-3col {
    .slide-owl-wrap:nth-child(n+4) {
      display: none;
    }
    > .slide-owl-wrap {
      width: 33%;
    }
  }
  &.tm-owl-carousel-4col {
    .slide-owl-wrap:nth-child(n+5) {
      display: none;
    }
    > .slide-owl-wrap {
      width: 25%;
    }
  }
  &.tm-owl-carousel-5col {
    .slide-owl-wrap:nth-child(n+6) {
      display: none;
    }
    > .slide-owl-wrap {
      width: 19%;
    }
  }
  &.tm-owl-carousel-6col {
    .slide-owl-wrap:nth-child(n+7) {
      display: none;
    }
    > .slide-owl-wrap {
      width: 16%;
    }
  }
}

.owl-carousel,
.owl-stage-outer { transition: height 500ms ease-in-out 0s; }